body{
    background-image: url('mi.jpeg');
}
.row1{
    position: absolute;
    left:140px;
}

.row2{
    position: absolute;
    left:870px;
}

.row3{
    position: absolute;
    left:1180px;
}

h1{
    color:white;
}

p{
    color: White;
}

#vonal{
    border: 1px solid white;
}

.focim{
    font-size:48pt;
    text-align:center;
    color:whitesmoke;
}

.elsobekezdes{
    font-size:25px;
}

.masodikbekezdes{
    font-size:25px;
}
#elony{
    color: whitesmoke;
    font-size: 35px;
    position: absolute;
    right: 70px;
}
#eszoveg{
    font-size: 30px ;
}
#onv{
    font-size: 30px;
}
div{
    text-align: justify;
    text-justify: inter-word;
}

h5{
    font-size:40px;
}

.h5{
    position: absolute;
    top:620px;
    left:1500px;
    font-size:100px;
    color:white;
}
.vidi{
    position:absolute;
    top: 620px;
    left: 650px;
}