body{
    background-image: url('mi.jpeg');
}
.row1{
    position: absolute;
    left:140px;
}

.row2{
    position: absolute;
    left:870px;
}

.row3{
    position: absolute;
    left:980px;
}

h1{
    color:white;
}

p{
    color: White;
}

#vonal{
    border: 1px solid white;
}

.focim{
    font-size:48pt;
    text-align:center;
    color:whitesmoke;
}

.elsobekezdes{
    font-size:25px;
}

.masodikbekezdes{
    font-size:25px;
}
#elony{
    color: whitesmoke;
    font-size: 35px;
    position: absolute;
    right: 250px;
}
#eszoveg{
    font-size: 30px ;
}
#onv{
    font-size: 30px;
}
div{
    text-align: justify;
    text-justify: inter-word;
}

h5{
    font-size:40px;
}

.h5{
    position: absolute;
    top:500px;
    left:1500px;
    font-size:100px;
    color:white;
}
.vidi{
    position:absolute;
    top: 640px;
    left: 650px;
}

.video{
    position:absolute;
    bottom:99px;
    left:130px;
    font-size:50px;
}

.mijelzo1{
    position: absolute;
    top:745px;
    text-align: center;
    left:1566.5px;
    font-size:30px;
}

.mijelzo2{
    position: absolute;
    top:760px;
    left:1570px;
    font-size: 30px;
}

.mijelzo3{
    position: absolute;
    top:785px;
    left:1570px;
    font-size: 30px;
}

.mijelzo4{
    position: absolute;
    top:820px;
    left:1535px;
    font-size: 30px;
}

.nyil{
    position: absolute;
    bottom:94.5px;
    left:565px;
    font-size:50px;
}