body{
    background-image: url('mi.jpeg');
}
.row1{
    position: absolute;
    left:80px;
}

.row3{
    position: absolute;
    left:1180px;
}

h1{
    color:white;
    font-size:35px;
}

p{
    color: White;
    font-size:25px;
}

#cim{
    border: 1px solid white;
}

.focim{
    font-size:48pt;
    text-align:center;
    color:whitesmoke;
}

.elsobekezdes{
    font-size:25px;
}

.masodikbekezdes{
    font-size:25px;
    position:absolute;
    top:-50px;
}

.msi{
    position:absolute;
    top:380px;
}

.harmadikbekezdes{
    font-size: 25px;
    position:absolute;
    top:480px;
}

.pmi{
    position:absolute;
    top: 380px;
}

.negyedikbekezdes{
    font-size:25px;
    position:absolute;
    top: 480px;
}

h5{
    font-size:40px;
}

.h5{
    position: absolute;
    top:570px;
    left:870px;
    font-size:100px;
    color:white;
}

.h2{
    position: absolute;
    top:370px;
    left:760px;
    color:white;
}

.kozepsoszoveg{
    position: absolute;
    top:440px;
    left:680px;
    text-align: justify;
}

.h3{
    position: absolute;
    top:430px;
    left:760px;
    color:white;
    font-size:24px;
}

.kozepsoszoveg2{
    position: absolute;
    top:500px;
    left:680px;
    text-align: justify;
}

.mijelzo1{
    position: absolute;
    top:830px;
    text-align: center;
    left:932px;
}

.mijelzo2{
    position: absolute;
    top:840px;
    left:935px;
}

.mijelzo3{
    position: absolute;
    top:860px;
    left:935px;
}

.mijelzo4{
    position: absolute;
    top:885px;
    left:800px;
}